* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 1128px;
  margin: 24px auto;
}

.gallery-image {
  display: block;
  width: 360px;
  height: 200px;
}
